beautifulsoup4==4.4.1
chardet==2.3.0
command-not-found==0.3
cycler==0.10.0
defer==1.0.6
html5lib==0.999
joblib==0.13.2
kiwisolver==1.1.0
language-selector==0.1
Lasagne==0.2.dev1
lxml==3.5.0
matplotlib==3.0.3
menulibre==2.1.3
mugshot==0.3.1
numpy==1.16.3
onboard==1.2.0
pexpect==4.0.1
Pillow==3.1.2
psutil==3.4.2
ptyprocess==0.5
pycups==1.9.73
pycurl==7.43.0
pygobject==3.20.0
pyparsing==2.4.0
python-apt==1.1.0b1+ubuntu0.16.4.4
python-dateutil==2.8.0
python-debian==0.1.27
pyxdg==0.25
reportlab==3.3.0
requests==2.9.1
scikit-learn==0.21.1
scipy==1.3.0
sessioninstaller==0.0.0
six==1.12.0
Theano==1.0.4
unattended-upgrades==0.1
urllib3==1.13.1
vboxapi==1.0
virtualenv==15.0.1
