https://github.com/Lasagne/Lasagne/archive/master.zip
matplotlib==3.1.0
numpy==1.15.3
git+git://github.com/tensorflow/privacy@master
scipy==1.3.0
scikit_learn==0.21.1
tensorflow==1.15.2
theano==1.0.4
